
<nav class="navbar  navbar-expand-lg fixed-top  py-4 text-white">
<div class="container"><a  class="navbar-brand text-white text-uppercase fw-bolder fs-2"  routerLink="home" >Start Framework </a><button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

  <div id="navbarSupportedContent" class="collapse navbar-collapse ">
  <ul class="nav nav-pills ">

    <li class="nav-item">
      <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 rounded-3 "routerLinkActive="bg-b " routerLink="about" >about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 rounded-3 "routerLinkActive="bg-b" routerLink="portfolio" >portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 rounded-3" routerLinkActive="bg-b" routerLink="contact"  >contact</a>
    </li>
  </ul>
</div>
</div>
</nav>