<div class=" footer">
<div class="d-flex card-group row ">
<div class="card-body text-center p-4  m-4 col-md-4">
<h3 class="pt-3">LOCATION</h3>
<h4 class="fs-6 fw-light">2215 John Daniel Drive</h4>
<h5 class="fs-6 fw-light" >Clark, MO 65243</h5>
</div>
    
    <div class="card-body text-center p-4 m-4 col-md-4" >
        <h3 class="pt-3">
            AROUND THE WEB
        </h3>
        <div class="icon d-flex flex-5 justify-content-sm-evenly p-4 ">
            <i class="fa-brands fa-facebook  icon rounded-5 mx-1"></i>
            <i class="fa-brands fa-twitter  icon rounded-5 mx-1"></i>
            <i class="fa-brands fa-linkedin-in rounded-5 icon  mx-1"></i>
            <i class="fa-solid fa-globe  icon rounded-5 border-box mx-1"></i>

        </div>
    </div>
    
    <div class="card-body text-center p-2 m-4 col-md-4" >
        <h3 class="pt-3">
            ABOUT FREELANCER
        </h3>
            <p class="fw-light" >
                Freelance is a free to use, licensed Bootstrap theme</p> 
                 <p>created by Route </p>
            
    </div>

</div> 



</div>